@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Книги</h1>
    <p class="lead">Добре дошли в нашата онлайн книжарница, където можете да се потопите в свете на книгите.</p>
    <p><a href="/Book/Index" class="btn btn-primary btn-lg">Всички книги &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Количка</h2>
        <p>Може да видите вашата количка от тук, и да следите до къде сте стигнали с пазаруването си от сайта ни.</p>
        <p><a class="btn btn-default" href="/Cart/Index">Към кошницата &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Връзка</h2>
        <p>При проблеми със ситемата или мислете, че базата ни от книги трябва да се обнови, можете лесно да се свържете с нас, за да оставте обратна връзка.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Връзка с нас &raquo;</a></p>
    </div>
</div>